{% extends 'base.html.twig' %}

{% block title %}Snowtricks Registration{% endblock %}

{% block body %}

<div class="container">
    <h1 class="h3 my-5 fw-normal">Create your account</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}
    <div class="py-3 d-grid gap-2 col-3">
        <button class="btn btn-primary" type="submit">Validate</button>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}