{% extends 'base.html.twig' %}

{% block title %}Snowtricks Registration{% endblock %}

{% block body %}

<div class="container">
    <h1 class="h3 mb-3 fw-normal">Create your account</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button class="btn btn-primary" type="submit">Validate</button>
    
    {{ form_end(form) }}
</div>

{% endblock %}